body {
  /* Padding for the body to account for hidden space behind
     fixed-to-top navbar. */
  padding-top: 70px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.borderless {
  width: 100%;
}

#curProject {
  float: right;
}

.projectList {
  width: 500px;
}

.addRow {
  background-color: lightgray;
}
.selectedRow {
  background-color: cyan;
}
.totalRow {
  background-color: lightgray;
  font-weight: bold;
}

.selectedEdit {
  background-color: cyan;
}

.editLightBtn {
  float: left;
}
.cancelEditLightBtn {
  float: left;
}
.removeLightBtn {
  float: right;
}

.select-small {
  width: 70px;
}
.select-large {
  width: 100px;
}

#toTextReportInfo {
  float: right;
  padding-top: 15px;
}
#textReportInfo td {
  padding-top: 15px;
}
.underline {
  border-bottom: 1px solid gray;
}

footer .container {
  border-top: 1px solid darkgray;
  height: 120px;
}
