body {
  /* Padding for the body to account for hidden space behind
     fixed-to-top navbar. */
  padding-top: 70px;
}

#curProject {
  float: right;
}

.projectList {
  width: 500px;
}

#addLightRow {
  background-color: gray;
}

.select-small {
  width: 70px;
}
.select-med {
  width: 100px;
}
.selec-large {
  width: 150px;
}